@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #FBF8F1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.banner{
  background-image: url('../components/images/bg_1.jpg');
}
.banner2{
  background-image: url('../components/images/bg.jpg');
}
.ic:hover{
    padding: 2px;
    border-radius: 50%;
    background-color: #ececea;
}
.liste > i{
  @apply mx-3 flex items-center md:hidden 
}

/*  -- styling tesimonial --*/
.testimonial-img{
  /* background: url('../components/images/bg_5.jpg'); */
}
/*  -- end tesimonial --*/

/* --init styling newsletter --*/
.newsletter{
  background: url('../components/images/bg.jpg');
  z-index: 1;
}
.newsletter-policy{
  display: table;
  margin: 32px auto 0; 
}
.newsletter input[type=checkbox]{
  border-color: #E3DBD9!important;
}

/* --end styling newsletter --*/

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* .nav-visible{
  background-color: #333;
  border-bottom: 1px solid #f1f1f1;
} */

.liste{
  @apply md:mx-4 flex md:py-3 cursor-pointer md:hover:text-orag md:hover:font-semibold  focus:text-orag my-4 ml-5 sm:ml-5 sm:my-5
}
.bg-visible{
  @apply dark:opacity-100 md:!bg-big dark:!bg-slate-900 dark:md:shadow-slate-500/40  md:shadow-lg md:shadow-slate-500/40 transition-all duration-300 ease-out
} 
.all1{
  @apply px-4 py-5 
}



